extends ../layout.pug

block content
    div(class="d-flex flex-row mx-auto my-2 justify-content-center")
            form(class="card my-3 mx-auto border-light border" method="post" action="/auth/signin")
                div(class="class-header mt-2 p-1 rounded text-center bg-primary text-white fsw-bolder") 
                        h3(class="card-title pt-1") Connexion
                div(class="card-body")
                    div(class="form-group")
                        label Email
                        input(type="text" class="form-control" name="email")
                    div(class="form-group")
                        label Mot de passe
                        input(type="password" class="form-control" name="password")         
                    if errors
                        ul(class="my-2")
                            each error in errors
                                li(class="text-danger fst-italic list-group-item m-0 p-0")= error     

                    div(class="w-100")
                        input(type="submit" class="btn btn-sm btn-primary my-2 ms-auto d-block rounded" value="Connexion")
                    div(class="w-100")
                        a(class="fs-6 fst-italic c-pointer text-info" href="/users/signup/form") Nouvel utillisateur? Créer un compte    
