if messages
  each message in messages
      div(class="card shadow-sm fs-4")
        div(class="card-body border border-top-0 p-2")
          div(class="card-text")= message.content
          button(class="btn btn-sm text-secondary fs-5 mt-2 px-2 py-0 float-end rounded fwt-bolder" msg-id=message._id)
            i(class="fa-solid fa-trash-can")
          a(href="/messages/edit/" + message.id class="btn btn-sm text-primary fs-5 mt-2 px-2 py-0 float-end rounded" msg-id=message._id)
            i(class="fa fa-pencil-square-o" aria-hidden="true") 